In [ ]:
#Importamos lo necesario y llamamos a los diferentes csv´s

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
actor = pd.read_csv('data/actor.csv')
category = pd.read_csv('data/category.csv')
film = pd.read_csv('data/film.csv')
inventory = pd.read_csv('data/inventory.csv')
language = pd.read_csv('data/language.csv')
old_hdd = pd.read_csv('data/old_HDD.csv')
rental = pd.read_csv('data/rental.csv')

In [ ]:
#Mostramos el contenido y realizamos la limpieza de datos en función de lo observado para cada varible.

## Actor

In [3]:
actor.describe()

       Unnamed: 0    actor_id
count  200.000000  200.000000
mean    99.500000  100.500000
std     57.879185   57.879185
min      0.000000    1.000000
25%     49.750000   50.750000
50%     99.500000  100.500000
75%    149.250000  150.250000
max    199.000000  200.000000

In [4]:
actor.shape

(200, 3)

In [5]:
actor.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   actor_id    200 non-null    int64
 2   name        200 non-null    object
dtypes: int64(2), object(1)
memory usage: 16.8 KB

In [6]:
actor.head()

   Unnamed: 0  actor_id                 name
0           0         1     PENELOPE GUINESS
1           1         2        NICK WAHLBERG
2           2         3             ED CHASE
3           3         4       JENNIFER DAVIS
4           4         5  JOHNNY LOLLOBRIGIDA

In [7]:
actor.actor_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200], dtype=int64)

In [8]:
actor.first_name.unique()

AttributeError: 'DataFrame' object has no attribute 'first_name'

In [ ]:
actor.last_name.unique()

In [ ]:
actor.last_update.unique()

In [ ]:
 actor.drop('last_update', axis=1, inplace=True)

In [ ]:
actor.info(memory_usage = 'deep')

In [ ]:
actor.head()

In [ ]:
#Utilizar esta linea en caso de ser necesario
#actor.drop('Unnamed: 0', axis=1, inplace=True)
actor['name'] = actor.first_name + ' ' + actor.last_name

In [ ]:
actor.drop('first_name', axis=1, inplace=True)
actor.drop('last_name', axis=1, inplace=True)

In [ ]:
actor.head()

In [ ]:
actor.to_csv('data/actor.csv')

In [ ]:
actor.head()

In [ ]:
actor.info(memory_usage='deep')

## category

In [ ]:
category.describe()

In [ ]:
category.shape

In [ ]:
category.head()

In [ ]:
category.last_update.unique()

In [ ]:
 category.drop('last_update', axis=1, inplace=True)

In [ ]:
#Utilizar esta linea en caso de ser necesario 
#category.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
category.head()

In [ ]:
category.to_csv('data/category.csv')

## film

In [ ]:
pd.set_option('display.max_columns', None)  # me muestre todas las columnas

In [ ]:
film.head()

In [ ]:
film.info()

In [10]:
#Utilizar esta linea en caso de ser necesario 
#film.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
film.language_id.unique()

In [ ]:
 #film.drop('original_language_id', axis=1, inplace=True)
#film.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
film.head()

In [ ]:
 film.drop('film_id', axis=1, inplace=True)

In [ ]:
film= film.rename(columns={'Unnamed: 0': 'film_id'})

In [ ]:
film.info()

In [12]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id_x,category_id_y
0,0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
1,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
2,2,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
3,3,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
4,4,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",11,11

In [13]:
film.to_csv('data/film.csv')

## Inventory

In [ ]:
inventory.head()

In [ ]:
inventory.shape

In [ ]:
 inventory.drop('last_update', axis=1, inplace=True)

In [ ]:
inventory.head()

In [ ]:
inventory.info(memory_usage='deep')

In [ ]:
inventory.to_csv('data/inventory.csv')

## language

In [ ]:
language.head()

In [ ]:
 language.drop('last_update', axis=1, inplace=True)

si todas las pelis estan en ingles, esta tabla no tiene sentido en mis datos, pero si si entra alguna peli nueva en otro idioma... cambia la situación

In [ ]:
language.to_csv('data/language.csv')

## old_hdd

In [ ]:
old_hdd.head()

In [ ]:
old_hdd.drop('release_year', axis=1, inplace=True)

In [ ]:
for e in film.title:
    if e in old_hdd.title.unique():
        print(True)
    else:
        print(False)

In [ ]:
old_hdd.head()

In [ ]:
pd.set_option('display.max_rows', None)  # me muestre todas las filas

In [ ]:
#Unimos en una sola columna lo siguiente, y dropeamos lo que se ha quedado obsoleto

In [25]:
old_hdd['name'] = old_hdd.first_name + ' ' + old_hdd.last_name

In [26]:
old_hdd.drop('first_name', axis=1, inplace=True)
old_hdd.drop('last_name', axis=1, inplace=True)

In [27]:
old_hdd.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1000 non-null   object
 1   release_year  1000 non-null   int64
 2   category_id   1000 non-null   int64
 3   name          1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 152.9 KB

In [28]:
old_hdd.head()

                   title  release_year  category_id              name
0       ACADEMY DINOSAUR          2006            6  PENELOPE GUINESS
1   ANACONDA CONFESSIONS          2006            2  PENELOPE GUINESS
2            ANGELS LIFE          2006           13  PENELOPE GUINESS
3  BULWORTH COMMANDMENTS          2006           10  PENELOPE GUINESS
4          CHEAPER CLYDE          2006           14  PENELOPE GUINESS

In [29]:
#old_hdd.drop('release_year', axis=1, inplace=True)
#old_hdd.drop('actor_id_x', axis=1, inplace=True)
#old_hdd.drop('actor_id_y', axis=1, inplace=True)

In [ ]:
#mergeamos en old hdd,actor.name, film.title y category.category_id  asi como film.film_id bajo el mismo metódo.

In [30]:
old_hdd=old_hdd.merge(actor, on='name',how='left')

In [31]:
old_hdd=old_hdd.merge(film, on='title',how='left')

In [32]:
old_hdd=old_hdd.merge(category, on='category_id',how='left')

In [33]:
old_hdd.head()

,title,release_year_x,category_id,name_x,Unnamed: 0,actor_id,film_id,description,release_year_y,language_id,...,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id_x,category_id_y,name_y,last_update
0,ACADEMY DINOSAUR,2006,6,PENELOPE GUINESS,0,1,0,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6,Documentary,2006-02-15 04:46:27
1,ACADEMY DINOSAUR,2006,6,PENELOPE GUINESS,0,1,1,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6,Documentary,2006-02-15 04:46:27
2,ACADEMY DINOSAUR,2006,6,PENELOPE GUINESS,0,1,2,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6,Documentary,2006-02-15 04:46:27
3,ACADEMY DINOSAUR,2006,6,PENELOPE GUINESS,0,1,3,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6,Documentary,2006-02-15 04:46:27
4,ANACONDA CONFESSIONS,2006,2,PENELOPE GUINESS,0,1,28,A Lacklusture Display of a Dentist And a Denti...,2006,1,...,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2,2,Animation,2006-02-15 04:46:27

In [ ]:
film=pd.merge(film,old_hdd[['film_id' , 'category_id']], on= 'film_id',how = 'left')

In [ ]:
 film.drop('last_update', axis=1, inplace=True)

In [ ]:
####ojo
#film=film.drop_duplicates()

In [ ]:
film.to_csv('data/film.csv')

In [24]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id_x,category_id_y
0,0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
1,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
2,2,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
3,3,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
4,4,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",11,11

In [ ]:
#Generamos una columna de paso necesaria para el esquema de la bbdd tal y como se ha definido en el modelo, denominada actors_has_films

In [36]:
actors_has_films=old_hdd[['actor_id','film_id']]

In [37]:
actors_has_films.head()

   actor_id  film_id
0         1        0
1         1        1
2         1        2
3         1        3
4         1       28

In [38]:
actors_has_films.to_csv('data/actors_has_films.csv')

## rental

In [ ]:
rental.head()

In [ ]:
rental.drop('last_update', axis=1, inplace=True)

In [ ]:
rental.to_csv('data/rental.csv')

In [ ]:
rental.info(memory_usage='deep')

In [ ]:
actor.head()

In [ ]:
old_hdd.head()

In [ ]:
#eliminamos duplicados de actors_has films.

In [ ]:
actors_has_films.info()

In [ ]:
actors_has_films=actors_has_films.drop_duplicates()

In [ ]:
actors_has_films.to_csv('data/actors_has_films.csv')

In [ ]:
'''
actor 
category 
film 
inventory 
language
old_hdd 
rental 
'''

In [ ]:
#Pasamos los datos de los csv´s a la bbdd en sql

In [2]:
# cargar archivo de contraseñas

with open('pass.txt', 'r') as file:
    
    passwd = file.read().split('\n')[0]

FileNotFoundError: [Errno 2] No such file or directory: 'pass.txt'

In [14]:
# lenguaje+driver://usuario:password@servidor:puerto/database
str_conn = f'mysql+pymysql://root:{passwd}@localhost:3306/film_proyect'
cursor = create_engine(str_conn)

In [15]:
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)

200

In [16]:
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)

6

In [17]:
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)

1000

In [39]:
actors_has_films.to_sql(name='actors_has_films', con=cursor, if_exists='replace', index=False)

2082

In [40]:
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)

1000

In [41]:
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

1000

In [42]:
actors_has_films.head(20)

    actor_id  film_id
0          1        0
1          1        1
2          1        2
3          1        3
4          1       28
5          1       29
6          1       30
7          1       32
8          1       33
9          1       34
10         1      114
11         1      148
12         1      149
13         1      183
14         1      298
15         1      299
16         1      300
17         1      378
18         1      449
19         1      450

In [9]:
film.head(30)

,Unnamed: 0,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,category_id_x,category_id_y
0,0,0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
1,1,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
2,2,2,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
3,3,3,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",6,6
4,4,4,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",11,11
5,5,5,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",6,6
6,6,6,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",6,6
7,7,7,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",6,6
8,8,8,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,NaN,3,2.99,169,17.99,PG,Deleted Scenes,9,9
9,9,9,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,NaN,3,2.99,169,17.99,PG,Deleted Scenes,9,9
10,10,10,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,NaN,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",11,11
11,11,11,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,NaN,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",11,11
12,12,12,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,NaN,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",11,11
13,13,13,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,NaN,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",15,15
14,14,14,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,NaN,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",15,15
15,15,15,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,NaN,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",15,15
16,16,16,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,NaN,6,0.99,136,22.99,PG,"Commentaries,Deleted Scenes",12,12
17,17,17,ALICE FANTASIA,A Emotional Drama of a A Shark And a Database ...,2006,1,NaN,6,0.99,94,23.99,NC-17,"Trailers,Deleted Scenes,Behind the Scenes",4,4
18,18,18,ALIEN CENTER,A Brilliant Drama of a Cat And a Mad Scientist...,2006,1,NaN,5,2.99,46,10.99,NC-17,"Trailers,Commentaries,Behind the Scenes",9,9
19,19,19,ALLEY EVOLUTION,A Fast-Paced Drama of a Robot And a Composer w...,2006,1,NaN,6,2.99,180,23.99,NC-17,"Trailers,Commentaries",9,9
20,20,20,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,NaN,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",12,12
21,21,21,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,NaN,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",12,12
22,22,22,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,NaN,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",12,12
23,23,23,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,NaN,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",1,1
24,24,24,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,NaN,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",1,1
25,25,25,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,NaN,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",1,1
26,26,26,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,NaN,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",1,1
27,27,27,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,NaN,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",1,1
28,28,28,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,NaN,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2,2
29,29,29,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,NaN,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2,2